<script type="text/ng-template" id="list.html" >
    <ul dnd-list="list" >
        <li ng-repeat="item in list" 
            dnd-draggable="item"
            dnd-effect-allowed="move"
            dnd-moved="list.splice($index, 1)"
            dnd-selected="models.selected = item"
            dnd-allowed-types='itemplus' 
            ng-class="{selected: models.selected === item}"
            ng-include="item.type + '.html'" 
            class="ng-scope"
            id="{[{ item.type }]}"
            >
        </li>
        <li class="dndPlaceholder">Перетяніть сюди</li>
    </ul>
</script>
<script type="text/ng-template" id="customTemplate.html">
  <a>
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{[{match.model.flag}]}" width="16">
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>
<script type="text/ng-template" id="item.html">
    <dnd-nodrag>
    <div dnd-handle class="handle">:::</div>
        <div class="item" style="visibility:hidden;">{[{item.id}]}</div>
                <div class="col-md-3 floatleft">
                <input class="form-control ng-valid ng-dirty" ng-model="item.proc" name="proc" placeholder="Оберіть дію"
                uib-typeahead="dia for dia in dii | filter:$viewValue | limitTo:15" typeahead-min-length="0">
               </input>
                </div>
                <div class="col-md-3 floatleft">
                <input class="form-control ng-valid ng-dirty" ng-model="item.pos" name="pos" placeholder="Оберіть тип працівника"
                uib-typeahead="posada for posada in posady | filter:$viewValue | limitTo:12" typeahead-min-length="0">
               </input>
                </div>
                <div class="col-md-1 floatleft">
                    <input type="number" class="form-control ng-valid ng-dirty" name="chi" ng-model="item.chi" placeholder="Чі (год)">
                </div>
                <div class="col-md-1 floatleft">
                    <input type="number" class="form-control ng-valid ng-dirty" name="vchi" ng-model="item.vchi" placeholder="ВЧі (грн)">
                </div>
                
                <div class="col-md-1 floatleft">
                    <input type="number" class="form-control ng-valid ng-dirty" name="pvri" ng-model="item.pvri" placeholder='ПВРі (грн)'>
                </div>
                <div class="col-md-1 floatleft">
                    <input type="number" class="form-control ng-valid ng-dirty" name="kri" ng-model="item.kri" placeholder='КРі (раз)' >
                </div>
                <div class="sum_hidden"ng-model="item.subsum"> {[{ item.subsum = item.chi * item.vchi * item.kri + item.pvri }]} </div>
        </dnd-nodrag>
</script>

<script type="text/ng-template" id="itemplus.html">
    <div class="container-element box box-blue itemplus" style='padding-top: 5px;'>
    <div id='header-sub'>
        <div dnd-handle ng-click="isCollapsed = !isCollapsed"  class="handle floatleft" >:::</div>

       
        <div class="col-md-7 floatleft">
            <input  class="form-control ng-valid ng-dirty" ng-model="item.zob" name="zob" uib-typeahead="zobov for zobov in zobovyazannya | filter:$viewValue | limitTo:8"
            placeholder="Назва операції" typeahead-min-length="0"></input>
        </div>
        

        </div>
        <div uib-collapse="isCollapsed">
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'" ></div>
        <div class="clearfix"></div>
    </div>
    </div>
</script>

<script type="text/ng-template" id="container.html">
    <div class="container-element box box-blue" style='padding-top: 10px;'>
    <div id='header-sub'>
        <div dnd-handle ng-click="isCollapsed = !isCollapsed"  class="handle floatleft" >:::</div>

        <div class="col-md-7 floatleft">
            <input  class="form-control ng-valid ng-dirty" ng-model="item.zob" name="zob" uib-typeahead="zobov for zobov in zobovyazannya | filter:$viewValue | limitTo:12"
            placeholder="Оберіть інформаційне зобов’язання" typeahead-min-length="0"></input>
        </div>
        
        <h3 style='float:right' class='col-md-3' ng-model="item.subS" > Витрати: {[{Sum(item.id-1)[item.id-1]}]} грн</h3>
        </div>
        <div uib-collapse="isCollapsed">
        <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'" ></div>
        <div class="clearfix"></div>
    </div>
    </div>
</script>


<div class="col-md-9"  style="width: 81%;">
    <div class="row">
        <div ng-repeat="(zone, list) in models.dropzones" class="col-md-12" >
            <div class="dropzone box box-darkblue">
                <h3 class='sum-header'><div style='float:left'>Загальні витрати:</div>
                    <div class="col-md-1 input-group">
                        <input type="number" class="form-control ng-valid ng-dirty" name="ki" ng-model="list[0].ki" placeholder='Кі (шт.)'>
                        <div class='input-group-addon' style="width: 100px;">{[{totalSum()}]} грн</div>
                    </div>
                 </h3>

            <div class='requlatory'>
                <div class="col-md-6 floatleft">
                    <input type="text" class="form-control ng-valid ng-dirty" name="subj" ng-model="list[0].subj" placeholder="Назва органу влади">
                </div>
                <div class="col-md-6 floatleft">
                    <input type="text" class="form-control ng-valid ng-dirty" name="regact" ng-model="list[0].regact" placeholder="Назва регуляторного акту">
                </div>
            </div>
                <div ng-include="'list.html'" ></div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-3 tools" >
    <div class="toolbox box box-grey box-padding">
            
        <ul>

            <li ng-repeat="item in models.templates"
                dnd-draggable="item"
                dnd-effect-allowed="copy"
                dnd-copied="item.id = item.id + 1"
                >
                <h3>{[{item.name}]}</h3>
                <div><img src="static/img/{[{ item.type }]}.png"></div>
            </li>
        </ul>
        <div class='brdr'></div>
    </div>

   

    <div class="trashcan box box-grey box-padding">
        <ul dnd-list="[]">
            <h3>Видалити</h3>
            <li><img src="static/img/trashcan.png"></li>
        </ul>
    </div>
<div class='brdr'></div>

 <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Інструкція</h3>
        </div>
        <div class="modal-body" id="modal-body">
        <p>1) Додайде зобов’язання, перетянувши його в основне поле</p>
        <p>2) Додайде дію, перетянувши її в поле зобов’язання</p>
        <p>3) Уважно заповніть кожне поле</p>
        <p>Ви можете видалити поле перетянувши його на іконку корзити</p>
        <p>Ви можете завантажити результат обчислень, натиснувши відповідну кнопку</p>
        <p>Кі &ndash; кількість суб&rsquo;єктів мікро- та малого бізнесу, на які поширюється регулювання&nbsp;(окремо за кожним видом);</p>
        <p>Чі &ndash; час, необхідний відповідному суб&rsquo;єкту мікро- та малого бізнесу, на який поширюється регулювання (окремо за кожним видом) для виконання процедур регулювання &ndash;&nbsp;окремо за кожною процедурою (оціночно або статистично) (можливим є розрахунок за&nbsp;групами часових витрат &laquo;спеціаліст &ndash; керівник&raquo; у людино-годинах);</p>
        <p>ВЧі &ndash; заробітна плата однієї години відповідної групи (&laquo;спеціаліст &ndash; керівник&raquo;)суб&rsquo;єкта мікро- та малого бізнесу, на який поширюється регулювання (окремо за кожною групою і за кожним видом), або для ФОПів &ndash; розрахунок вартості людино-години на основі річного обсягу реалізації сектору;</p>
        <p>КРі &ndash; кількість разів виконання процедур регулювання за рік;</p>
        <p>ПВРі &ndash; прямі витрати суб&rsquo;єкта мікро- та малого бізнесу, на який поширюється регулювання (окремо за кожним видом) на дотримання вимог регулювання;</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="m.ok()">OK</button>
        </div>
    </script>
<div class='faq'>
    
    <div class="buttons">
    <div class="btn1">
    <a type="button" id='btn-save' class="btn btn-default" download="Звіт.html" ng-href="{[{ url }]}">Завантажити результат</a>
    </div>
    <div class="btn2">
    <button type="button" class="btn btn-default" name="Save">Зберегти/Відправити</button>
    </div>
    </div>
</div>
</div>
